/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */

igc-grid igc-tabs {
    width: 100%;
    height: 250px;
}

.details-chart {
    width: 200px;
    height: 200px;
}

.igx-grid-toolbar .igx-button {
    min-height: 2rem;
}
#grid .igx-grid-toolbar__actions>* {
    margin-inline-start: .25rem;
}
#grid .igx-grid-toolbar__custom-content {
    margin-inline-end: 0;
}
#grid .igx-grid-toolbar {
    border-bottom: none;
}
#grid .igx-grid-grouparea {
    border-bottom: none;
    height: 0;
    min-height: auto;
    overflow: visible;
}
#grid .igx-drop-area {
    margin-top: 10px;
}
#grid .igx-grid-grouparea__connector + .igx-drop-area {
    margin-top: 0;
}
.custom-div-container {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid rgba(181, 189, 196, 0.38);
    background: #F9FAFA;
}
